.panel.panel-primary
  .panel-heading
    %h1.panel-title New category

  .panel-body
    .row
      .col-lg-6    
        = render 'form'

  .panel-footer 
    = link_to 'Back', categories_path, class: 'btn btn-primary'
