%ul.list-group
  %li.list-group-item.list-group-item-info
    %p
      = review.content
      %br
      %span.badge
        Rating: 
        = review.rating
      %em.badge.alert-warning
        = review.author
